<table class="w-full">
  <tr>
    <td class="w-full px-[20px] py-[20px]">
      <table class="align-center-table">
        <tr>
          <td class="w-[25%]">
            <x-image class="w-[110px] pointer-events-none max-w-[110px]" imgUrl="image-2.png" href="#" />
          </td>
          <td class="w-[75%] text-left pl-[20px] text-[12px] leading-[14px] xs:pl-[16px]">Ut enim ad minim veniam, quis nostrud exercitation ullamco <br class="block sm:hidden">laboris nisi ut aliquip ex ea commodo consequat.</td>
        </tr>
      </table>
    </td>
  </tr>
</table>
