<table class="w-full bg-[#F0F5F5]">
  <tr>
    <td class="w-full bg-[#F0F5F5] py-[20px]">
      <table class="w-full bg-[#F0F5F5]">
        <tr>
          <td class="w-full align-center-table px-[20px]">
            <table class="w-full align-center-table">
              <tr>
                <td class="text-[24px] leading-[28px] text-[#005555] text-center font-bold pt-[17px]">Sint cupidatat occaecat ut</td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td class="w-full px-[20px] pt-[37px] pb-[24px] xs:pb-[17px]">
            <table class="w-full bg-[#ffffff] align-center-table">
              <tr>
                <td class="w-full">
                  <table class="w-full bg-[#ffffff] align-center-table">
                    <tr>
                      <td class="w-[48%] p-[25px] xs:w-full xs:block align-center-table">
                        <table class="w-full align-center-table">
                          <tr>
                            <td class="text-center">
                              <x-image class="w-[100px] pointer-events-none max-w-[100px]" imgUrl="image-6.png" href="#" />
                            </td>
                          </tr>
                          <tr>
                            <td class="text-[20px] leading-[24px] text-[#005555] text-center font-bold py-[15px]">Nisi ut ade</td>
                          </tr>
                          <tr>
                            <td class="text-[16px] leading-[20px] text-[#444444] text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.<span class="text-[10px] [line-height:0] [vertical-align:4px] text-[#444444]">1</span></td>
                          </tr>
                        </table>
                      </td>
                      <td class="w-[4%] xs:w-full xs:block h-[20px] xs:h-[35px] bg-[#F0F5F5]"></td>
                      <td class="w-[48%] p-[25px] xs:w-full xs:block align-center-table">
                        <table class="w-full align-center-table">
                          <tr>
                            <td class="text-center">
                              <x-image class="w-[100px] pointer-events-none max-w-[100px]" imgUrl="image-6.png" href="#" />
                            </td>
                          </tr>
                          <tr>
                            <td class="text-[20px] leading-[24px] text-[#005555] text-center font-bold py-[15px]">Duis aute irure</td>
                          </tr>
                          <tr>
                            <td class="text-[16px] leading-[20px] text-[#444444] text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.<span class="text-[10px] [line-height:0] [vertical-align:4px] text-[#444444]">2</span></td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>

